[submodule "salt-feedstock"]
	path = salt-feedstock
	url = https://github.com/AnacondaRecipes/salt-feedstock
	branch = master
[submodule "libpq-feedstock"]
	path = libpq-feedstock
	url = https://github.com/AnacondaRecipes/libpq-feedstock
	branch = master
[submodule "unittest2-feedstock"]
	path = unittest2-feedstock
	url = https://github.com/AnacondaRecipes/unittest2-feedstock
	branch = master
[submodule "theano-feedstock"]
	path = theano-feedstock
	url = https://github.com/AnacondaRecipes/theano-feedstock
	branch = master
[submodule "odo-feedstock"]
	path = odo-feedstock
	url = https://github.com/AnacondaRecipes/odo-feedstock
	branch = master
[submodule "backports.lzma-feedstock"]
	path = backports.lzma-feedstock
	url = https://github.com/AnacondaRecipes/backports.lzma-feedstock
	branch = master
[submodule "backports.functools_lru_cache-feedstock"]
	path = backports.functools_lru_cache-feedstock
	url = https://github.com/AnacondaRecipes/backports.functools_lru_cache-feedstock
	branch = master
[submodule "backports.os-feedstock"]
	path = backports.os-feedstock
	url = https://github.com/AnacondaRecipes/backports.os-feedstock
	branch = master
[submodule "backports.shutil_get_terminal_size-feedstock"]
	path = backports.shutil_get_terminal_size-feedstock
	url = https://github.com/AnacondaRecipes/backports.shutil_get_terminal_size-feedstock
	branch = master
[submodule "backports.shutil_which-feedstock"]
	path = backports.shutil_which-feedstock
	url = https://github.com/AnacondaRecipes/backports.shutil_which-feedstock
	branch = master
[submodule "backports.tempfile-feedstock"]
	path = backports.tempfile-feedstock
	url = https://github.com/AnacondaRecipes/backports.tempfile-feedstock
	branch = master
[submodule "backports.weakref-feedstock"]
	path = backports.weakref-feedstock
	url = https://github.com/AnacondaRecipes/backports.weakref-feedstock
	branch = master
[submodule "backports_abc-feedstock"]
	path = backports_abc-feedstock
	url = https://github.com/AnacondaRecipes/backports_abc-feedstock
	branch = master
[submodule "gymnasium-notices-feedstock"]
	path = gymnasium-notices-feedstock
	url = https://github.com/AnacondaRecipes/gymnasium-notices-feedstock
	branch = main
